<!-- <marquee behavior="scroll" direction="right">
    <h1 style="text-align: center;color: brown;">**please enter your category to check your details**</h1>
</marquee>
<br>
<form>
    <table align="center" cellpadding="10">
        <tr>
            <td style="font-size:xx-large;color: darkblue;">Category:</td>
            <td><input type="text" id="name" name="catg" placeholder="enter your category" [(ngModel)]="ihra.catg"></td>
        </tr>
        <tr>
            <td align="center" colspan="1"><input type="submit" value="submit" (click)="Read()"></td>
            
        </tr>
        <br>
        <div *ngIf="canShowData">
            <h1 style="text-align: center;font-size: xx-large;font-weight: bolder;color:black;">HRA TABLE</h1>

            <tr>
                <td>Category</td>
                       <td> {{a[0]}}</td>
            </tr>
            <tr>
                <td>Wef_date</td>
                   <td> {{a[1]}}</td>
            </tr>
            <tr>
                <td>HRA_per</td>
                <td> {{a[2]}}</td>
            </tr>

            <td align="center" colspan="1"><input type="reset" value="reset">
        </div>
    </table>
</form> -->
<marquee behavior="scroll" direction="right">
    <h1 style="text-align: center;color: brown;">**please enter your category to check your details**</h1>
</marquee>    
        <div style="text-align: center;">
            Category:
            <input type="text" id="name" name="catg" placeholder="enter your category" [(ngModel)]="ihra.catg">
        <br><br>
            <input type="submit" value="submit" (click)="Read()">           
        </div>
        <br>
<div *ngIf="canShowData">
<table > 
    <tr>
        <th colspan="10" style="text-align: center;">
            <h1 style="text-align: center;font-size: x-large;color:blue;">HRA Details</h1>
        </th>
    </tr>
    <tr>
        <td colspan="4">Category</td>
        <td colspan="6">{{ihra.catg}}</td>
    </tr>
    <tr>
        <td colspan="4">wef date</td>
        <td colspan="6">{{ihra.wef_date}}</td>
    </tr>
    <tr>
        <td colspan="4">hra percentage</td>
        <td colspan="6">{{ihra.hra_per}}</td>
    </tr>
</table>
</div>